:root {
    --white-color: #fff;
    --white-transparent-color: #d7ccc0;
    --light-color: #f5f4f0;
    --main-color: #fe8a02;
    --main-dark-color: #42413c;
    --dark-color: #2a2626;
    --dark-transparent-color: #908d8b;
    --brown-color: #b09a81;
    --blue-color: #1085c5;
    --main-hover-color: #EA7600;

    --main-font: "Open Sans";
    --headers-font: "Neucha";
    --font-size: 16px;
    --font-color: #2a2626;
    --line-height: 1.6em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    z-index: 2;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 914px;
    max-width: 1110px;
    padding: 100px 0;
    margin: 0 auto;
}

.header-image {
    z-index: 1;
    height: 525px;
    position: absolute;
    top: 55px;
    right: -270px;
}

.header {
    position: relative;
}

.video {
    flex-shrink: 0;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.footer {
    height: 500px;
}

.font-main {
    color: var(--main-color);
}

.font-dark {
    color: var(--font-color);
}

.font-white {
    color: var(--white-color);
}

.bg-white {
    background-color: var(--white-color);
}

.bg-light {
    background-color: var(--light-color);
}

.bg-dark {
    background-color: var(--main-dark-color);
}

.bg-brown {
    background-color: var(--brown-color);
}

.bg-transparent-white {
    background-color: var(--white-transparent-color);
}

.bg-image {
    position: relative;
}

.bg-image::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    opacity: 0.1;
}

.col-2 {
    grid-column-start: 2;
}

.content-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mb-30 {
    margin-bottom: 30px;
}

h1, h2, h3 {
    line-height: 1.2em;
    font-family: var(--headers-font);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p {
    color: var(--font-color);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--main-font);
}

.row {
    flex-direction: row;
    justify-content: start;
    gap: 30px;
}

.warp {
    flex-wrap: wrap;
}

.nav-h {
    font-size: 52px;
    flex-basis: 348px;
}

.digit {
    font-size: 64px;
    margin-bottom: 40px;
    line-height: 1em;
}

.text-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px 30px;
}

.btn {
    display: inline-block;

    color: var(--white-color);
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    padding: 12px 24px;
  
    background-color: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--main-hover-color);
}

.nav-card {
    background-color: var(--light-color);
    padding: 24px;
    flex-basis: 300px;
}

.nav-card:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.nav-card:hover h3 {
    color: var(--white-color);
}

.nav-card:hover p {
    color: var(--white-color);
}

.video-section {
    margin-bottom: -200px;
}

.pt-200 {
    padding-top: 200px;
}
